# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64

beautifulsoup4=4.6.0=py36h72d3c9f_1
jsonschema=2.6.0=py36hb385e00_0
mechanicalsoup=0.10.0=py_0
mysql-connector-c=6.1.11=h42a37c1_0
mysql-connector-python=8.0.12=py36h3febbb0_0
pymysql=0.9.2=py36_0
requests=2.18.4=py36h4516966_1
scrapy=1.5.1=py36_0
selenium=3.13.0=py36_0
sqlalchemy=1.2.7=py36hb402a30_0
twisted=17.5.0=py36_0

